@charset "UTF-8";

.product-list{
    display: grid;
    gap:35px;
    grid-template-columns:repeat(4, 1fr);
    /* text-align:center; */
    list-style: none;
}

.wrapper{
    /* transform: scale(0.4);
    transform-origin: center; */
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}
.product-list img{
    width: 100%;
}
#header{
    display: flex;
    justify-content: space-between;
}

#footer .menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

a :hover {
    text-decoration: none;
}

.link-text {
    text-align: center;
    display: block;
    margin-top: 40px;
}
/* ここからitemのデザイン */
.item{
    display: flex;
    /* max-width: 800px; */

}
.item-text {
    line-height: 1.8;
    margin-left: 60px;
    height: 0 ;
}
/* レスポンシブ対応デザイン */
@media (max-width: 600px){
    .site-title {
        width: 100px;
        height: auto;
    }
    .product-list{
    /* display: grid; */
    gap:20px;
    grid-template-columns:repeat(2, 1fr);
    /* list-style: none; */
    }
    .product-list p{
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 6px;
    }
    .site-title img{
        height: 24px;
        width: auto;
    }
}