@charset "UTF-8";

.product-list{
    display: grid;
    gap:35px;
    grid-template-columns:repeat(4, 1fr);
    /* text-align:center; */
    list-style: none;
}

.wrapper{
    /* transform: scale(0.4);
    transform-origin: center; */
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}
.product-list img{
    width: 100%;
}
#header{
    display: flex;
    justify-content: space-between;
}

#footer .menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

a :hover {
    text-decoration: none;
}

.site-title img{
    width: 300px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.link-text {
    text-align: center;
    display: block;
    margin-top: 40px;
}

.page-title {
    font-size:20px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}




/* ここからitemのデザイン */
.item{
    display: flex;
    /* width: 100%;
    align-items: flex-start;
    gap: 16px; */
    max-width: 800px;
    justify-content: space-between;

}
.item .item-img{
    /* width: px;
    height: auto;
    flex-shrink: 0; */
    width: 42%;
}
.item .item-text{
    width: 50%;
    /* line-height: 1.8;
    margin-left: 60px;
    height: 0 ;
    flex: 1;*/
} 
.item .item-img img{
    width: 100%;
}
.item .item-text th{
    /* display: flex; */
}
.item .item-text p{
    margin-bottom: 20px;
} 
/* テーブルの編集*/
.item table th{
    text-align: left;
    font-weight: normal;
}

.item table td{
    padding-left: 1rem;
}
/* ここまでitemのデザイン */
/* ここからconpanyのデザイン */
#company{
    max-width: 600px;
}

#company .info {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse; /*テーブルの隙間を実践にする*/
}
#company .info tr{
    width: 100%;
}
#company .info th,
#company .info td{
    font-weight: normal;
    border-bottom: 1px solid gray;
    padding: 20px 10px;
}
/* 左の項目 */
#company .info th{
    width: 30%;
    text-align: left;
}
/* 右の項目 */
#company .info td{
    width: 70%;
}
/* 最後の行だけ下線を消す */
#company .info tr:last-child th,
#company .info tr:last-child td{
    border-bottom: none;
}
#company .map{
    filter: grayscale(1);
    margin-bottom: 100px;
}
#company .map frame{
    width: 100%;
    height: 300px;
}
/* ここまでcompanyのデザイン */
/* レスポンシブ対応デザイン */
@media (max-width: 600px){
    .site-title {
        width: 100px;
        height: auto;
    }
    .product-list{
    gap:20px;
    grid-template-columns:repeat(2, 1fr);
    /* list-style: none; */
    }
    .product-list p{
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 6px;
    }
    .site-title img{
        height: 24px;
        width: auto;
    }

    .item{
        flex-direction: column;
    }
    .item .item-img,
    .item .item-text {
        width: 100%;
        /* height: auto; */
    }
    /* ここからcompanyのデザイン */
    #company .info th,
    #company .info td{
        display: block;
        /* thやtdをただのdivと同じように扱う */
        width: 100%;
        border-bottom: none;
        /* thとtdの下線を消す */
        padding: 0 10px;
        /* 上と下の余白は消して、左右は10pxにする */
    }
    #company .info tr{
        display: block;
        border-bottom: 1px solid #dedbdb;
        padding: 10px 0;
        /* 上下の余白10px */
    }
    #company .info th{
        padding-bottom: 5px;
        /* 下の余白5px */
    }
    #company .info td{
        padding-top: 5px;
        /* 上の余白5px */
    }
    /* ここまでcompanyのデザイン */
}

