@charset "UTF-8";
:root {
    --light-green: #d5edeb;
    --green: #63dbd0;
    --brown: #403632;
    --light-grey: #eee;
    --white: #fff;
    --oswald-font: "Oswald", sans-serif;
}

.product-list{
    display: grid;
    gap:35px;
    grid-template-columns:repeat(4, 1fr);
    /* text-align:center; */
    list-style: none;
}

.wrapper{
    /* transform: scale(0.4);
    transform-origin: center; */
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}
.product-list img{
    width: 100%;
}
#header{
    display: flex;
    justify-content: space-between;
}

#footer .menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

a :hover {
    text-decoration: none;
}

.site-title img{
    width: 300px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.link-text {
    text-align: center;
    display: block;
    margin-top: 40px;
}

.page-title {
    font-size:20px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/*
ハンバーガーメニュー
メニューが開いている時は、「left: 0;」「opacity: 1;」で
画面左に表示する
*/
.open #navi {
  left: 0;
  opacity: 1;
}
.toggle_btn {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}
/*
ハンバーガーメニューの線の設定（メニューが閉じている時）
*/
.toggle_btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.5s;
}
/*
1本目の線の位置を設定
*/
.toggle_btn span:nth-child(1) {
  top: 10px;
}
/*
2本目の線の位置を設定
*/
.toggle_btn span:nth-child(2) {
  bottom: 10px;
}
/*
ハンバーガーメニューの線の設定（メニューが開いている時）
線の色を白に変更
*/
.open .toggle_btn span {
  background-color: #fff;
}
/*
1本目の線を-45度回転
*/
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(-45deg);
  transform: translateY(4px) rotate(-45deg);
}
/*
2本目の線を45度回転
*/
.open .toggle_btn span:nth-child(2) {
  -webkit-transform: translateY(-4px) rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
}
#navi {
  opacity: 0;
  left: -100%;
}
#mask {
  display: none;
  transition: all 0.5s;
}
/*
メニューを開いている時は、全体を黒背景にする
*/
.open #navi {
  left: 0;
  opacity: 1;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}

/* ここからitemのデザイン */
.item{
    display: flex;
    /* width: 100%;
    align-items: flex-start;
    gap: 16px; */
    max-width: 800px;
    justify-content: space-between;

}
.item .item-img{
    /* width: px;
    height: auto;
    flex-shrink: 0; */
    width: 42%;
}
.item .item-text{
    width: 50%;
    /* line-height: 1.8;
    margin-left: 60px;
    height: 0 ;
    flex: 1;*/
} 
.item .item-img img{
    width: 100%;
}
.item .item-text th{
    /* display: flex; */
}
.item .item-text p{
    margin-bottom: 20px;
} 
/* テーブルの編集*/
.item table th{
    text-align: left;
    font-weight: normal;
}

.item table td{
    padding-left: 1rem;
}
/* ここまでitemのデザイン */
/* ここからcompanyのデザイン */
#company{
    max-width: 600px;
}

#company .info {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse; /*テーブルの隙間を実践にする*/
}
#company .info tr{
    width: 100%;
}
#company .info th,
#company .info td{
    font-weight: normal;
    border-bottom: 1px solid gray;
    padding: 20px 10px;
}
/* 左の項目 */
#company .info th{
    width: 30%;
    text-align: left;
}
/* 右の項目 */
#company .info td{
    width: 70%;
}
/* 最後の行だけ下線を消す */
#company .info tr:last-child th,
#company .info tr:last-child td{
    border-bottom: none;
}
#company .map{
    filter: grayscale(1);
    margin-bottom: 100px;
}
#company .map frame{
    width: 100%;
    height: 300px;
}
/* ここまでcompanyのデザイン */

/* ここからcontactのデザイン */
#contact-form{
    max-width: 600px;
}
#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form button {
    border: 1px solid #dcdcdc;
    width: 100%;
    padding: 10px;
}
/* contact-form 内のチェックボックスとラジオボタン専用の調整 */
#contact-form input[type="checkbox"],
#contact-form input[type="radio"] {
    
    /* width: 100% などの共通指定を打ち消し、
        チェックボックス本来のサイズに戻す */
    width: auto;
    
    /* 他の input に指定している padding を無効化し、
        余白によるズレを防ぐ */
    padding: 0;
    
    /* テキスト入力用の枠線が
        チェックボックスに適用されないようにする */
    border: 0;
}
/* ここまでcontactのデザイン */
/* レスポンシブ対応デザイン */
@media (max-width: 600px){
    .site-title {
        width: 100px;
        height: auto;
    }
    .product-list{
    gap:20px;
    grid-template-columns:repeat(2, 1fr);
    /* list-style: none; */
    }
    .product-list p{
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 6px;
    }
    .site-title img{
        height: 24px;
        width: auto;
    }

    .item{
        flex-direction: column;
    }
    .item .item-img,
    .item .item-text {
        width: 100%;
        /* height: auto; */
    }
    /* ここからcompanyのデザイン */
    #company .info th,
    #company .info td{
        display: block;
        /* thやtdをただのdivと同じように扱う */
        width: 100%;
        border-bottom: none;
        /* thとtdの下線を消す */
        padding: 0 10px;
        /* 上と下の余白は消して、左右は10pxにする */
    }
    #company .info tr{
        display: block;
        border-bottom: 1px solid #dedbdb;
        padding: 10px 0;
        /* 上下の余白10px */
    }
    #company .info th{
        padding-bottom: 5px;
        /* 下の余白5px */
    }
    #company .info td{
        padding-top: 5px;
        /* 上の余白5px */
    }
    /* ここまでcompanyのデザイン */
}

